services:
  # PostgreSQL database
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    env_file:
      - .env

  # Database management interface
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080
    env_file:
      - .env